@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #012;
  color: #ddd;
}
*, *::before, *::after {
  box-sizing: border-box;
}
#App {
  display: table;
  height: 100%;
  width: 100%;
}
#App #wrapper {
  display: table-cell;
  vertical-align: middle;
}
#calculator {
  background-image: linear-gradient(-45deg, #123, #123, #234);
  width: 350px;
  min-width: 350px;
  height: auto;
  padding: 0 20px 20px 20px;
  margin: auto;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-top-color: #345;
  border-left-color: #123;
  border-right-color: #012;
  border-bottom-color: #012;
  box-shadow: 1px 1px 5px #000;
}
#calculator #header {
  text-transform: uppercase;
  height: 50px;
  color: #7ad;
  text-align: center;
  line-height: 50px;
  font-family: "Press Start 2P", cursive;
  text-shadow: 1px 2px 2px #000;
  margin: 0;
  padding: 0;
}
#calculator #display-container {
  display: inline-block;
  font-size: 2.5em;
  width: 100%;
  line-height: 70px;
  color: #aaa;
  background-color: #0a1a2a;
  direction: rtl;
  text-align: right;
  font-family: "Digital", monospace;
  overflow-y: auto;
  overflow-x: scroll;
  white-space: nowrap;
  box-shadow: inset 1px 2px 5px #000, inset 0px -1px 2px #000;
}
#calculator #display-container #display {
  padding: 0 0.3em;
}
#button-container {
  display: grid;
  grid-template-areas: "clear clear cancel-entry divide" "seven eight nine multiply" "four five six subtract" "one two three add" "pos-neg zero decimal equals";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 20px;
}
#button-container #zero {
  grid-area: zero;
}
#button-container #one {
  grid-area: one;
}
#button-container #two {
  grid-area: two;
}
#button-container #three {
  grid-area: three;
}
#button-container #four {
  grid-area: four;
}
#button-container #five {
  grid-area: five;
}
#button-container #six {
  grid-area: six;
}
#button-container #seven {
  grid-area: seven;
}
#button-container #eight {
  grid-area: eight;
}
#button-container #nine {
  grid-area: nine;
}
#button-container #add {
  grid-area: add;
}
#button-container #subtract {
  grid-area: subtract;
}
#button-container #multiply {
  grid-area: multiply;
}
#button-container #divide {
  grid-area: divide;
}
#button-container #clear {
  grid-area: clear;
}
#button-container #cancel-entry {
  grid-area: cancel-entry;
}
#button-container #pos-neg {
  grid-area: pos-neg;
}
#button-container #decimal {
  grid-area: decimal;
}
#button-container #equals {
  grid-area: equals;
}
#button-container .btn {
  font-family: "Open Sans", sans-serif;
  color: #789;
  display: block;
  height: 70px;
  text-align: center;
  text-shadow: 1px 2px 2px #000;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #234;
  border-radius: 7px;
  border: 1px solid #012;
  box-shadow: 1px 2px 2px #000;
}
#button-container .btn:active {
  box-shadow: inset 0px 0px 5px #000;
  background-color: #162636;
}
#button-container .btn:focus {
  position: relative;
}
#button-container #clear, #button-container #cancel-entry, #button-container #equals {
  background-color: #912;
}
#button-container #clear:active, #button-container #cancel-entry:active, #button-container #equals:active {
  background-color: #860616;
}
#display-container {
  scrollbar-color: #0079d3 #2e3645;
  scrollbar-width: auto;
}
#display-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
#display-container::-webkit-scrollbar-thumb {
  background: #0079d3;
}
#display-container::-webkit-scrollbar-thumb:hover {
  background: #0061a9;
}
#display-container::-webkit-scrollbar-track {
  background: #2e3645;
}
#display-container::-webkit-scrollbar-corner {
  background-color: #2e3645;
}
